# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcarchive

# Firebase credentials — ne pas committer
**/GoogleService-Info.plist

# Swift Package Manager
.build/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
